body{
    background-color: beige;
}
.title{
    text-align: center;
}
.container__guia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    font-size: 20px;
}
ul{
    margin: 40px;
}
.container__btns{
    display: flex;
    gap: 20px;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(255, 0, 0, 0.564);
}

.container{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    gap: 10px;
    height: auto;
    flex-wrap: wrap;
}
.size1{
    width: 25%;
    height: 200px;
    background-color: rgba(255, 252, 47, 0.91);
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size2{
    width: 25%;
    height: 200px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size3{
    width: 25%;
    height: 200px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}